{% set postFormatClass = postFormat ? '-'~postFormat : '' %}
{% set postFormatRead = postFormat? fn('get_post_format', post) : '' %}
<!-- content.twig -->
{% block content %}
  <article id="post-{{ post-id }}" class="post{{ postFormatClass }} {{ post.class }}">
  {% if post.thumbnail %}
    <div class="post{{ postFormatClass }}__feature-image">
      <div class="feature-image">
        <img src="{{ post.thumbnail.src('feature500') }}" class="feature-image__img" alt="{{ post.title }}"/>
      </div>
    </div>
  {%  endif %}

    <header class="entry-header post__header{{ postFormatClass }} ">
      <h2 class="entry-title post__heading{{ postFormatClass }}">
        <span class="post__title{{ postFormatClass }}">
          <a class="post__title-link{{ postFormatClass }}" href="{{ post.link }}">{{ post.title }}</a>
        </span>
      </h2>
      <div class="entry-meta post__post-meta{{ postFormatClass }}">
        {% include 'inc/post-meta.twig' %}
      </div>
    </header>

    {% if  post.post_excerpt != '' %}
      <div class="entry-content post{{ postFormatClass }}__body">
        {{ post.post_excerpt }}
        <a href="{{ post.link }}" class="post{{ postFormatClass }}__read-more">Read More</a>
      </div>

    {% else %}
      <div class="entry-content post{{ postFormatClass }}__body">
        <p>{{ post.content | striptags | truncate(20) }}</p>
        <a href="{{ post.link }}" class="post{{ postFormatClass }}__read-more">Read More</a>
      </div>

    {% endif %}
    <footer class="post{{ postFormatClass }}__footer">
      <a class="post{{ postFormatClass }}__comment-link" href="{{ post.link }}#comments">
        <span>{{ post.comment_count }} Comments </span>
      </a>

    </footer>

  </article>
{% endblock %}