<!doctype html>
<html {{ site.language_attributes }} data-env-{{environment}}={{environment}}>
<head>
  <!-- base.twig -->
  {% block before_head %}
    <!-- beforehead block -->
  {% endblock %}

  <meta charset="{{ site.charset }}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="{{ site.pingback_url }}">

  {% include 'inc/favicon.twig' %}

  <style>
    {% include 'critical.css' ignore missing %}
  </style>


  {{ fn('wp_head') }}

  {% block after_head %}
  {% endblock %}

</head>
<!-- BS Deploy -->
<body id="siteBody" class="{{ body_class }} no-js"  data-mobile="off" data-window-top="true" {{ fn('_act_body_data') }}>


<div class="defs" style="display: none">
  {% include 'inc/defs.svg' ignore missing %}
</div>

<div id="page" class="site">

  {% include 'site-accessibility.twig' %}

  {% block header %}
    <header id="masthead" class="site__masthead {{ hidePageMasthead ? 'is-hidden' : 'is-not-hidden' }}" role="banner">
      {% include 'inc/masthead.twig' %}
    </header>
  {% endblock %}

  {% block mobile_nav %}
    {% if mobilenav_widgets == '' %}
      <!-- Add some widgets to the mobilenav -->
    {% else %}
    <button id="menuButton" class="btn--menu" data-state="off">
      <div class="btn--menu__bar--tl"></div>
      <div class="btn--menu__bar--tr"></div>
      <div class="btn--menu__bar--m"></div>
      <div class="btn--menu__bar--br"></div>
      <div class="btn--menu__bar--bl"></div>
    </button>

      <div id="mobileNavigation" class="site__mobile-nav-widgets site__navigation--off-page" data-state="off">
        <div class="mobile-nav-widgets" >
          {{mobilenav_widgets}}
        </div>
      </div>

    {% endif %}
  {% endblock %}

  {% block hero %}
    <section id="siteHero" class="site__hero">
      {% include 'inc/hero.twig' ignore missing %}
    </section>
  {% endblock %}

  {% block before_main %}
  {% endblock %}

  <section id="primary" class="site__main">
    <div class="c-main{{ main_mod }}">
      <main class="main__content{{ main_mod }}">
        {% block before_content %}
        {% endblock %}
        <div class="content{{ content_mod }}">
          {% block contentHeader %}
          {% endblock %}
          {% block content %}
            <p>Hello world! This AC Timber. I am the content Block in base.twig. Extend me!</p>
          {% endblock %}
          {% block contentFooter %}
          {% endblock %}
        </div>
        {% block belowContent %}
          {% if (fn('comments_open')) %}
            {% include 'inc/comments.twig' %}
          {% endif %}
        {% endblock %}
      </main>
      {% block sidebar %}
      {% endblock %}
    </div>
  </section>

  {% block after_main %}
  {% endblock %}

  {% block subsidiary %}
    <section id="subsidiary" class="site__subsidiary">
      {% include 'inc/subsidiary.twig' %}
    </section>
  {% endblock %}

</div>{# /#page #}

{% block footer %}
  <footer class="site__footer" role="contentinfo">
    {% include 'inc/footer.twig' %}
  </footer>
{% endblock %}

{% include 'inc/footer_scripts.twig' %}

</body>

</html>