{%  set logoWidth = fn('get_field','logo_width','options')   %}
{%  set logoHeight = fn('get_field','logo_height','options')   %}
{% if logoWidth != ''  or logoHeight != ''%}
  <style>
    .c-site-title--upload{
    {% if logoWidth != '' %}
      width: {{ logoWidth }}px !important;
      height: auto !important;
    {% endif %}
    {% if logoHeight != '' %}
      height: {{ logoHeight }}px !important;
    {% endif %}
    }
  </style>
{% endif %}
{% if fn('is_front_page') %}
  <h1 class="c-site-title--upload c-site-title--front-page" >
    <a class="site-title__link" href="{{ site.url }} " rel="home">
      <img class="c-site-title__img" src=" {{  company_logo.url  }}" alt="{{ site.title }} - {{ site.description }}">
    </a>
  </h1>
{% else %}
  <span class="c-site-title--upload c-site-title--page">
    <a class="sc-ite-title__link" href="{{ site.url }} " rel="home">
       <img class="c-site-title__img" src=" {{  company_logo.url  }}" alt="{{ site.title }} - {{ site.description }}">
    </a>
  </span>
{% endif %}